[probe]
pin: EBBCan:PB5
x_offset: -18.5
y_offset: -18.2
#z_offset: 8
speed: 7.0
lift_speed: 15
samples: 3
samples_result: median
sample_retract_dist: 1.0
samples_tolerance: 0.009
samples_tolerance_retries: 6

[z_tilt]
z_positions:
    -48, 14
    60, 140
    168, 14
points:
    25, 0.25
    77, 88
    119.5, 0.25

speed: 75
horizontal_move_z: 15
retries: 6
retry_tolerance: 0.0075

[bed_mesh]
mesh_min: 20,20
mesh_max: 100,100
speed: 100
horizontal_move_z: 20
probe_count: 5,5
relative_reference_index: 12
move_check_distance: 3
